body {
    background-color: black;
    background-image: url(./bg.jpg);
  }

.Users_map {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.leaflet-container {
    height: 400px;
}